@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button,
a {
  cursor: pointer !important;
}

/* for calendar */
.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: inherit;
}

.react-calendar__viewContainer {
  padding: 10px;
}

.react-calendar__month-view__weekdays {
  margin-bottom: 20px;
}

.react-calendar__tile {
  height: 90px !important;
  border-radius: 18px;
  transition: 0.2s;
  font-size: 16px;
}

.react-calendar__tile:hover {
  background: #eaf4fb !important;
}

.react-calendar__tile--active {
  background: #355872 !important;
  color: white !important;
}
.react-calendar__navigation {
  margin-bottom: 30px;
}

.react-calendar__navigation button {
  font-size: 18px;
  font-weight: 600;
  color: #355872;
}

.react-calendar__month-view__weekdays__weekday {
  color: #355872;
  font-weight: 600;
  text-transform: uppercase;
}

/* default tile */
.react-calendar__tile {
  height: 90px !important;
  border-radius: 18px;
  transition: 0.2s;
  font-size: 16px;
  color: #355872 !important;
  background: transparent !important;
}

/* hover */
.react-calendar__tile:hover {
  background: #eaf4fb !important;
}

/* selected date */
.react-calendar__tile--active {
  background: transparent !important;
  color: #355872 !important;
}

.react-calendar__tile--active abbr {
  background: transparent !important;
  color: #355872 !important;
  font-weight: 500;
}

/* today date */
.react-calendar__tile--now {
  background: transparent !important;
}

.react-calendar__tile--now abbr {
  border: 2px solid #355872;
  color: #355872;
  width: 42px;
  height: 42px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-weight: 700;
}